body {
  background-color: #faf78a;
}

h1{
  color: rgb(61, 24, 155);
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
}

#name{
  text-align: center;
  color: blueviolet;
}

.dropbtn {
  padding: 10px 60px 10px;
  font-size: 25px;
  background-color: #ef87af;
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family:Georgia, 'Times New Roman', Times, serif;

}

.dropdown {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 275px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #a5d8a7;}


.baby{
  display: block;
  width: 30%;
  height: 20%;
  border-radius: 20%;
  padding: 40px;
}

